.dashtrx__section {
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
  padding-top: 2rem;
  padding-bottom: 2rem;
  background-color: #8282821f;

  .trx__wrapper {
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 1167px;
    padding-left: 1rem;
    padding-right: 1rem;
  }

  .trx__component {
    .trx__adjust {
      display: flex;
      justify-content: space-between;
      padding: 1rem 0px;
    }
  }

  .--paginate {
    display: flex;
    width: 50%;
  }
}
