$radius: 0.25rem;
$tableHoverColor: #ddd;

.trx__table {
  width: 100%;
  border-collapse: collapse;
  border-radius: $radius;
  border-spacing: 0px;
  background-color: white;
  box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1),
    0 2px 4px -1px rgba(0, 0, 0, 0.06);
  table-layout: fixed;
  margin-bottom: 1.5rem;

  thead {
    .header-type {
      width: 10%;
    }
    .header-date {
      width: 10%;
    }
    .header-details {
      width: 40%;
    }
    .header-category {
      width: 15%;
    }
    .header-amount {
      width: 10%;
    }
    .header-balance {
      width: 10%;
    }
    .header- {
      width: 5%;
    }
  }
}

.trx__table thead tr th:first-child {
  border-top-left-radius: $radius;
}
.trx__table thead tr th:last-child {
  border-top-right-radius: $radius;
}

.trx__table th {
  text-align: center;
  color: white;
  font-size: 1rem;
  background-color: var(--color-accent-green);
  padding-top: 0.875rem;
  padding-bottom: 0.875rem;
}

.trx__table td,
.trx__table th {
  padding: 1rem;
  text-align: center;
}
.trx__table td {
  font-size: 0.875rem;
  // font-weight: 500;
}

.trx__table tr:hover {
  background-color: $tableHoverColor;
}

.trx__table tbody tr:last-child:hover {
  td:first-child {
    border-bottom-left-radius: $radius;
    // border-radius: $radius;
    background-color: $tableHoverColor;
  }
  td {
    background-color: $tableHoverColor;
  }
  td:last-child {
    border-bottom-right-radius: $radius;
    background-color: $tableHoverColor;
  }
}
