.dashtrxtable {
  font-family: Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

.dashtrxtable td,
.dashtrxtable th {
  border: 1px solid #ddd;
  padding: 8px;
}

.dashtrxtable tr:nth-child(even) {
  background-color: #f2f2f2;
}

.dashtrxtable tr:hover {
  background-color: #ddd;
}

.dashtrxtable th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: center;
  background-color: #4caf50;
  color: white;
}
