$radius: 0.25rem;
$tableHoverColor: #ddd;

.dashtrxtable {
  width: 100%;
  border-collapse: collapse;
  margin-bottom: 1.5rem;
  border-radius: $radius;
  border-spacing: 0px;
  background-color: white;
  box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1),
    0 2px 4px -1px rgba(0, 0, 0, 0.06);
}

.dashtrxtable thead tr th:first-child {
  border-top-left-radius: $radius;
}
.dashtrxtable thead tr th:last-child {
  border-top-right-radius: $radius;
}

.dashtrxtable th {
  text-align: center;
  color: white;
  font-size: 1rem;
  background-color: var(--color-accent-green);
  padding-top: 0.875rem;
  padding-bottom: 0.875rem;
}

.dashtrxtable td,
.dashtrxtable th {
  padding: 1rem;
  text-align: center;
}
.dashtrxtable td {
  font-size: 0.875rem;
  // font-weight: 500;
}

.dashtrxtable tr:hover {
  background-color: $tableHoverColor;
}

.dashtrxtable tbody tr:last-child:hover {
  td:first-child {
    border-bottom-left-radius: $radius;
    // border-radius: $radius;
    background-color: $tableHoverColor;
  }
  td {
    background-color: $tableHoverColor;
  }
  td:last-child {
    border-bottom-right-radius: $radius;
    background-color: $tableHoverColor;
  }
}
