* {
  box-sizing: border-box;
}

.section-text {
  min-height: 80px;
  align-items: center;
  justify-content: center;
  padding: 20px;
  display: flex;
  flex-direction: column;
}
.section-box {
  min-height: 80px;
  align-items: center;
  justify-content: center;
  padding: 20px;
  display: flex;
  flex-direction: column;
}

h1 {
  flex-direction: column;
  display: flex;
  text-align: left;
  padding-bottom: 20px;
}

h4 {
  flex-direction: column;
  display: flex;
  text-align: left;
  padding-bottom: 10px;
}
