.hero__main {
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
  padding-top: 4rem;
  padding-bottom: 4rem;
  background-color: #8282821f;
}

.hero__wrapper {
  display: flex;
  flex-direction: row;
  max-width: 1167px;
  padding-left: 1rem;
  padding-right: 1rem;

  .left__side {
    width: 50%;
    position: relative;

    button[type='button'] {
      border: 0px;
      background-color: transparent;
    }
    .hero__image {
      position: relative;
      // cursor: pointer;
      object-fit: cover;
      border-radius: 0.5rem;
      box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1),
        0 2px 4px -1px rgba(0, 0, 0, 0.06);
    }

    .play__icon {
      position: absolute;
      text-align: center;
      top: 40%;
      left: 45%;
      font-size: 5rem;
      color: #ffffff;

      &:hover {
        cursor: pointer;
      }
    }
  }
  .right__side {
    width: 50%;
    margin: 1.5rem;
    max-width: 445px;

    .--about {
      font-family: 'Mulish';
      font-weight: 800;
      font-size: 0.875rem;
      text-transform: uppercase;
      color: var(--color-accent-green);
      margin-bottom: 0.875rem;
    }
    .--header {
      font-size: 2.75rem;
      font-weight: 700;
      line-height: 3.5rem;
      margin-bottom: 2rem;
    }

    .--blurb {
      font-size: 1.125rem;
      letter-spacing: 0.2px;
      color: var(--font-secondary-color);
      margin-bottom: 4rem;
    }

    .--signup {
      border-radius: 0px;
      font-weight: 700;
      color: var(--color-accent-green);
      background-color: transparent;
      // color: var(--font-secondary-color);
      border: 2px solid var(--color-accent-green);
      padding: 0.875rem 1.5rem 0.875rem 1.5rem;
      transition: all 0.2s ease-in-out;

      &:hover {
        cursor: pointer;
        color: white;
        background-color: var(--color-accent-green);
      }
    }
  }
}

@media screen and (max-width: 800px) {
  .hero__wrapper {
    display: flex;
    width: 100%;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    .left__side {
      display: flex;
      width: 100%;
      justify-content: center;
      align-items: center;

      img {
        height: 400px;
        width: auto;
      }
    }

    .right__side {
      display: flex;
      width: 100%;
      justify-content: center;
      align-items: center;
      max-width: 85%;
      text-align: center;

      .--blurb {
        display: flex;
        width: 100%;
        justify-content: center;
        align-items: center;
        text-align: center;
        // max-width: 80%;
      }
    }
  }
}

@media screen and (max-width: 680px) {
  .hero__wrapper {
    flex-direction: column;

    .right__side {
      .--header {
        font-size: 1.875rem;
        line-height: 2.75rem;
      }
    }
  }
}
